.addCarHead{
  background-color: red;
  color: white;
  font: bold;
  height: 500px;
  transition: opacity 2s
}
.anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 1;
  transition: opacity 1s ease-in;
}
.anim-leave{
  opacity: 1;
}
.anim-leave .anim-leave-active{
  opacity: 1;
  transition: opacity 1s ease-in;
}
html{
  scroll-behavior: smooth;
}